In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('daily_final_data.csv')

In [3]:
df=df.drop(columns='Unnamed: 0')
df.head()

,air_area_name,genre_name,visitors,current_week,day_of_week,holidays
0,Tōkyō-to Minato-ku Shibakōen,Dining bar,6,0,Monday,0
1,Tōkyō-to Minato-ku Shibakōen,Izakaya,12,0,Monday,0
2,Tōkyō-to Minato-ku Shibakōen,Dining bar,6,0,Monday,0
3,Tōkyō-to Minato-ku Shibakōen,Italian/French,3,0,Monday,0
4,Tōkyō-to Minato-ku Shibakōen,Izakaya,6,0,Monday,0

In [4]:
group = df.groupby(['current_week', 'air_area_name','genre_name', 'day_of_week'])
df = pd.DataFrame(group['visitors'].sum())
df = df.reset_index()
df.head()

,current_week,air_area_name,genre_name,day_of_week,visitors
0,0,Fukuoka-ken Fukuoka-shi Daimyō,Bar/Cocktail,Friday,56
1,0,Fukuoka-ken Fukuoka-shi Daimyō,Bar/Cocktail,Monday,22
2,0,Fukuoka-ken Fukuoka-shi Daimyō,Bar/Cocktail,Saturday,132
3,0,Fukuoka-ken Fukuoka-shi Daimyō,Bar/Cocktail,Sunday,37
4,0,Fukuoka-ken Fukuoka-shi Daimyō,Bar/Cocktail,Thursday,42

In [5]:
from sklearn.preprocessing import LabelEncoder
number = LabelEncoder()
#df['visit_date'] = number.fit_transform(area_df["visit_date"].astype('str'))
df["day_of_week"] = number.fit_transform(df["day_of_week"].astype('str'))
df["genre_name"] = number.fit_transform(df["genre_name"].astype('str'))
df["air_area_name"] = number.fit_transform(df["air_area_name"].astype('str'))

df.head()

   current_week  air_area_name  genre_name  day_of_week  visitors
0             0              0           1            0        56
1             0              0           1            1        22
2             0              0           1            2       132
3             0              0           1            3        37
4             0              0           1            4        42

In [6]:
y = df['visitors']
X = df.drop(columns= 'visitors')
X.head()

   current_week  air_area_name  genre_name  day_of_week
0             0              0           1            0
1             0              0           1            1
2             0              0           1            2
3             0              0           1            3
4             0              0           1            4

In [7]:
from sklearn.model_selection import train_test_split
#split data to training and test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [9]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')

In [10]:
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10],
              'gamma': [0.0001, 0.001, 0.01]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [ ]:
# Fit the model using the grid search estimator. 
# This will take the SVC model and try each combination of parameters
grid.fit(X_train, y_train)

Fitting 3 folds for each of 9 candidates, totalling 27 fits

C:\Users\Eric Tsai\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

[CV] C=1, gamma=0.0001 ...............................................
[CV] .... C=1, gamma=0.0001, score=0.015382200596452676, total=26.3min
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed: 43.0min remaining:    0.0s

[CV] .... C=1, gamma=0.0001, score=0.015959703075291622, total=30.2min
[CV] C=1, gamma=0.0001 ...............................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed: 96.5min remaining:    0.0s

[CV] ..... C=1, gamma=0.0001, score=0.01721556886227545, total=29.1min
[CV] C=1, gamma=0.001 ................................................
[CV] .... C=1, gamma=0.001, score=0.015382200596452676, total=474.4min
[CV] C=1, gamma=0.001 ................................................
[CV] ..... C=1, gamma=0.001, score=0.015959703075291622, total=28.7min
[CV] C=1, gamma=0.001 ................................................
[CV] ...... C=1, gamma=0.001, score=0.01721556886227545, total=29.4min
[CV] C=1, gamma=0.01 .................................................

In [ ]:
# List the best parameters for this dataset
print(grid.best_params_)

In [ ]:
print(grid.best_score_)