In [1]:
from JPML import KNN
import pandas as pd

In [2]:
df = pd.read_csv("final_data06282019.csv")

In [3]:
df = df.drop(columns='Unnamed: 0')

In [4]:
df.head()

   current_week  day_of_week  visitors  encode_air_area_name
0             0            5       435                     0
1             0            5        99                     1
2             0            5        53                     2
3             0            5        85                     3
4             0            5        14                     4

In [5]:
y = df['visitors']
X = df.drop(columns='visitors')
X.head()

   current_week  day_of_week  encode_air_area_name
0             0            5                     0
1             0            5                     1
2             0            5                     2
3             0            5                     3
4             0            5                     4

In [6]:
model = KNN(X,y)

In [7]:
model.score()

0.6794699336133883

In [8]:
p = [[0,1,4]]
print(model.predict(p))

37