In [24]:
import pandas as pd
import plotly.plotly as ply
from matplotlib import pyplot
import plotly
plotly.tools.set_credentials_file(username='ejohnson787', api_key='ODQFPoAWsTPfZfOLNa6D')
import statsmodels as sm
import cufflinks as cf
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
import statistics

In [18]:
data = pd.read_csv('IPG2211A2N.csv',index_col=0)
data.head()

            IPG2211A2N
DATE
1939-01-01      3.3842
1939-02-01      3.4100
1939-03-01      3.4875
1939-04-01      3.5133
1939-05-01      3.5133

In [19]:
data.index = pd.to_datetime(data.index)

In [20]:
data.columns = ['Energy Production']

In [21]:
data.head()

            Energy Production
DATE
1939-01-01             3.3842
1939-02-01             3.4100
1939-03-01             3.4875
1939-04-01             3.5133
1939-05-01             3.5133

In [25]:
data.iplot(title="Energy Production Jan 1985--Jan 2018")

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~ejohnson787/0 or inside your plot.ly account where it is named 'Energy Production Jan 1985--Jan 2018'

C:\Users\ejohn\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead